* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --white: white;
  --text-color: rgba(34, 34, 34, 1);
  --pink-color: rgba(255, 43, 158, 1);

  --p-size: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

// Header Styles

header {
  height: 100vh;

  // Navbar Styles
  nav {
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .center {
      ul {
        display: flex;
        gap: 30px;
        li {
          a {
            font-weight: 400;
            font-size: var(--p-size);
            line-height: 30px;
            position: relative;
            color: var(--text-color);
            transition: 0.5s;
            &::before {
              content: "";
              width: 0;
              height: 2px;
              border-radius: 2px;
              background-color: var(--pink-color);
              position: absolute;
              bottom: -0.25rem;
              left: 50%;
              transition: width 0.4s, left 0.4s;
            }
            &:hover {
              color: var(--pink-color);
            }
            &:hover::before {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;
      .login {
        font-weight: 400;
        font-size: var(--p-size);
        line-height: 30px;
      }
      .signup {
        padding: 10px 25px 10px 25px;
        background-color: var(--pink-color);
        border-radius: 10px;
        font-size: 20px;
        line-height: 30px;
        color: var(--white);
      }
    }
  }

  // Head Styles

  .head{
    display: flex;
    height: 85%;
    padding: 50px 100px;

    .left-head, .right-head{
      width: 50%;
    }

    .left-head{
      display: flex;
      h1{
        font-weight: 600;
        font-size: 100px;
        line-height: 120px;
        background: linear-gradient(106.7deg, #222222 12.31%, #5B5B5B 87.69%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    
    .right-head{
      display: flex;
      align-items: center;
      justify-content: center;
      .spinner {
        background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
        width: 400px;
        height: 400px;
        animation: spinning82341 5s linear infinite;
        text-align: center;
        border-radius: 50%;
        filter: blur(1px);
        box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
      }
      
      .spinner1 {
        background-color: var(--white);
        width: 400px;
        height: 400px;
        border-radius: 50%;
        filter: blur(40px);
      }
      
      @keyframes spinning82341 {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
