* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --white: white;
  --text-color: rgba(34, 34, 34, 1);
  --pink-color: rgba(255, 43, 158, 1);
  --header-gradient-h1:linear-gradient(106.7deg, #222222 12.31%, #5B5B5B 87.69%);
  --blue-btn-gradient:linear-gradient(92.71deg, #5A56FF 11.79%, #8A88FF 88.21%);
  --pink-gradient: linear-gradient(87.99deg, #FF5CB5 24.48%, #FF8BCA 75.52%);
  --service-cards-gradient: linear-gradient(90deg, #5A56FF 0%, #8A88FF 100%);

  --p-size: 20px;
  --main-sections-padding:25px 100px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

// Header Styles

header {
  height: 100vh;

  // Navbar Styles
  nav {
    padding: var(--main-sections-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .center {
      ul {
        display: flex;
        gap: 30px;
        li {
          a {
            font-weight: 400;
            font-size: var(--p-size);
            line-height: 30px;
            position: relative;
            color: var(--text-color);
            transition: 0.5s;
            &::before {
              content: "";
              width: 0;
              height: 2px;
              border-radius: 2px;
              background-color: var(--pink-color);
              position: absolute;
              bottom: -0.25rem;
              left: 50%;
              transition: width 0.4s, left 0.4s;
            }
            &:hover {
              color: var(--pink-color);
            }
            &:hover::before {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;
      .login {
        font-weight: 400;
        font-size: var(--p-size);
        line-height: 30px;
      }
      .signup {
        padding: 10px 25px 10px 25px;
        background-color: var(--pink-color);
        border-radius: 10px;
        font-size: 20px;
        line-height: 30px;
        color: var(--white);
      }
    }
  }

  // Head Styles

  .head{
    display: flex;
    height: 85%;
    padding: 50px 100px;

    .left-head, .right-head{
      width: 50%;
    }

    .left-head{
      display: flex;
      h1{
        font-weight: 600;
        font-size: 100px;
        line-height: 120px;
        background: var(--header-gradient-h1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    
    .right-head{
      display: flex;
      align-items: center;
      justify-content: center;
      .spinner {
        background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
        width: 400px;
        height: 400px;
        animation: spinning82341 5s linear infinite;
        text-align: center;
        border-radius: 50%;
        filter: blur(1px);
        box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
      }
      
      .spinner1 {
        background-color: var(--white);
        width: 400px;
        height: 400px;
        border-radius: 50%;
        filter: blur(40px);
      }
      
      @keyframes spinning82341 {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}

// About Styles

.about{
  padding: var(--main-sections-padding);
  .top{
    display: flex;
    gap: 20px;
    .left{
      width: 40%;
    }
    .left{
      h1{
        span{
          color: var(--pink-color);
        }
        font-weight: 700;
        font-size: 75px ;
        line-height: 75px;
        color: var(--text-color);
      }
    }
    .right{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 60%;
      h2{
        padding: 15px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--blue-btn-gradient);
        border-radius: 20px;
        font-weight: 400;
        font-size: 37px;
        line-height: 37px;
        color: var(--white);
      }
    }
  }

  .bottom{
    margin-top: 25px;
    .card{
      padding: 40px 30px 40px 30px;
      border-radius: 20px;
      background: var(--pink-gradient);
      p{
        font-weight: 400;
        font-size: 33px;
        line-height: 33px;
        color: var(--white);
      }
    }
  }
}

// Services Styles

.services{
  padding:var(--main-sections-padding) ;
  margin-top: 150px;

  .top{
    h1{
      font-weight: 600;
      font-size: 60px;
      line-height: 60px;
    }
  }

  .bottom{
    margin-top: 50px;
    display: flex;
    .left{
      .card{
        padding: 20px 30px 20px 30px;
        border-radius: 30px;
        background: var(--service-cards-gradient);
        color: var(--white);
        margin-top: 15px;
  
        &:first-child{
          max-width: 904px;
        }
  
        &:nth-child(2){
          max-width: 1008px;
        }
  
        &:nth-child(3){
          max-width: 951px;
        }
        &:nth-child(4){
          max-width: 882px;
        }
  
        h1{
          font-weight: 600;
          font-size: 50px;
          line-height: 50px;
        }
        p{
          font-weight: 400;
          font-size: 25px;
          line-height: 25px;
          margin-top: 10px;
        }
      }
    }
    .right{
      z-index: 100;
      position: absolute;
      right:100px;
    }
  }
}

// Guide Styles

.guide{
  display: flex;
  justify-content: space-between;
  padding: var(--main-sections-padding);
  margin-top: 150px;

  .left{
    width: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    h1{
      font-weight: 600;
      font-size: 80px;
      line-height: 80px;
    }
    p{
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
    }
  }
  .right{
    width: 57.5%;
    border: 1px solid red;
  }
}